# Android Studio/IntelliJ
.idea/
*.iml
*.hprof

# Gradle
.gradle/
build/
gradle/
gradlew
gradlew.bat
local.properties

# Android
/captures
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class

# Keystore
*.keystore
*.jks

# Firebase
google-services.json

# Proguard
proguard/

# Local
.DS_Store
